*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height:100vh;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 10%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(7, 225, 65, 0.466);
    backdrop-filter:blur(50px);
    z-index: 1;

}
.logo{
    font-size: 2.4rem;
    text-decoration: none;
    font-weight: 700;
    color: blue;
}

#check{
    display: none;

}
.icons{
    font-size: 2.4rem;
    color: blue;
    position: absolute;
    right: 5%;
    cursor: pointer;
    display: none;
}
.navbar a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
.list-items{
    /* margin-left: 150px; */
    list-style: none;
    display: inline;
    align-items: center;
    margin: 0px 20px;
}
.links{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.links:hover{
    /* text-decoration: underline; */
    color: red;
}
.head{
    margin-left: 60px;
}
.nav-head{
    font-size: 35px;
    font-weight:900;
    font-family: "Playwrite BE VLG", cursive;
    /* margin-left: 50px; */
}
.nav-subhead{
    font-size: 15px;
    font-weight: 700;
    /* margin-left: 150px; */
}
/* home */
.home-bg{
    width: 100%;
    height: 100vh;
    position: relative;
}
.home-contents{
    position: absolute;
    bottom: 260px;
    /* margin-left: 20%; */
}
.home-contents h1{
    font-size: 90px;
    font-weight: 900;
    color: white;
    margin-left: 35%;    
    text-align: center;
}
.home-contents p{
    font-size: 30px;
    font-weight: 600;
    margin-left: 30%;
    color: aliceblue;
    /* background-color: rgb(63, 92, 63); */
}
.home-btn{
    margin-left: 60%;
    align-items: center;
    width: 140px;
    height: 50px;
    padding: 5px;
    color: white;
    background-color: rgb(75, 155, 75);
    font-size: 20px;
    font-weight: 500;
}
/* cake */
#cakes{
    margin: 5% 5% 5% 5%;
}
.cake-container{
    /* border: 1px solid; */
    height: 600px;
}
.cake-head{
    text-align: center;
    /* border: solid 1px; */
}
.cake-head h1{
    font-size: 35px;
    font-weight: 700;
    font-family: "Playwrite BE VLG", cursive;
    color: green;
}
.cake-head p{
    font-size:20px ;
    font-weight: 500;
    padding-top: 20px;
}
.cake-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: 1px solid; */
    height: 450px;
}

.items{
    width: 280px;
    height: 320px;
    text-align: center;
    padding: 50px 20px;
    /* border: 1px solid; */
    height: 420px;
}
.items img{
    width: 100%;
    height: 30vh;
    border-radius: 10px;
}
.items img:hover{
    transform: scale(1.2);
}
.items h1{
    font-size: 25px;
    font-weight: 700;
    font-family: "Playwrite BE VLG", cursive;
    color: green;
}
.items p{
    font-weight: 600;
    padding-top: 15px;
}
/* news */
#news{
    margin: 5% 5% 5% 5%;
    /* flex-wrap: wrap; */
}
.news-head{
    text-align: center;
    /* flex-wrap: wrap; */
    /* border: solid 1px; */
}
.news-head h1{
    font-size: 35px;
    font-weight: 700;
    font-family: "Playwrite BE VLG", cursive;
    color: green;
}
.news-head p{
    font-size:20px ;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 30px;
}
.news-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
}
.news-items{
    width: 280px;
    height: 320px;
    text-align: center;
    padding: 50px 20px;
    height: 500px;
    background-color: beige;
}
.news-items img{
    width: 100%;
    height: 30vh;
    border-radius: 10px;
}
.news-items img:hover{
    transform: scale(1.2);
}
.news-items h1{
    font-size: 25px;
    font-weight: 700;
    font-family: "Playwrite BE VLG", cursive;
    color: green;
}
.news-items p{
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 20px;
}
.news-btn{
    text-decoration: none;
    padding-top: 50px;
    align-items: center;
    width: 140px;
    height: 40px;
    padding: 5px;
    color: rgb(75, 155, 75);
    background-color: white;
    border: 2px solid green;
    font-size: 20px;
    font-weight: 500;
}
.news-btn:hover{
    background-color: rgb(75, 155, 75);
    color: white;
}
/* footer */
footer{
    background-color: rgb(68, 142, 91);
    height: 250px;
}
.foot-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    /* text-align: center; */
}
.foot-items{
    list-style: none;
}
.link{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.foot-contact p{
    font-size: 20px;
    
}
.foot-contact h1{
    padding-bottom: 10px;
    font-family: "Playwrite BE VLG", cursive;
    font-size: 20px;
}
.foot-menu{
    padding-top: 50px;
    
}
.foot-menu h1{
    /* padding-top: 50px; */
    font-family: "Playwrite BE VLG", cursive;
    font-size: 20px;
}
.foot-service h1{
    /* padding-top: 50px; */
    font-family: "Playwrite BE VLG", cursive;
    font-size: 20px;
}
.response{
    margin-left: 500px;
}

/* media */
@media (max-width:1280px)
{
    .home-contents h1{
        font-size: 90px;
        font-weight: 900;
        color: white;
        margin-left: 20%;   
        margin-bottom: 0%; 
        text-align: center;
    }
    .home-contents p{
        font-size: 30px;
        font-weight: 600;
        margin-left: 30%;
        /* margin-bottom: 10%; */
        color: aliceblue;
        /* background-color: rgb(63, 92, 63); */
    }
    .home-btn{
        margin-left: 47%;
        /* margin-bottom: 20%; */
        align-items: center;
        width: 140px;
        height: 40px;
        padding: 5px;
        color: white;
        background-color: rgb(75, 155, 75);
        font-size: 20px;
        font-weight: 500;
    }
}
@media (max-width:1243px)
{
    .news-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        height: 500px;
    }
    .news-head{
        text-align: center;
        margin-top: 400px
    }
    .news-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        height: 500px;
        gap: 40px;
    }
    footer{
        background-color: rgb(68, 142, 91);
        height: 250px;
        margin-top: 650px;
    }
}
@media (max-width:972px)
{
    .home-contents h1{
        font-size: 60px;
        font-weight: 900;
        color: white;
        margin-left: 20%;    
        text-align: center;
    }
    .home-contents p{
        font-size: 20px;
        font-weight: 600;
        margin-left: 30%;
        color: aliceblue;
        /* background-color: rgb(63, 92, 63); */
    }
    .home-btn{
        margin-left: 45%;
        align-items: center;
        width: 140px;
        height: 40px;
        padding: 5px;
        color: white;
        background-color: rgb(75, 155, 75);
        font-size: 20px;
        font-weight: 500;
    }   
}
@media (max-width:990px)
{
    .header{
        padding: 1.3rem 5%;
    }
}
@media (max-width:830px)
{
    .icons{
        display: flex;
    }
    #cancel{
        display: none;
    }
    #check:checked~.icons #menu{
        display: none;
    }
    #check:checked~.icons #cancel{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(7, 225, 65, 0.466);
        width: 100%;
        display: none;
    }
    #check:checked~.navbar{
        display: block;
        height: 15rem;
    }
    .navbar a{
        display: block;
        text-align: center;
        font-size: 1.1rem;
        margin:1.5rem 0px;
    }
    .home-contents h1{
        font-size: 60px;
        font-weight: 900;
        color: white;
        margin-left: 10%;    
        text-align: center;
    }
    .home-contents p{
        font-size: 20px;
        font-weight: 600;
        margin-left: 20%;
        color: aliceblue;
        /* background-color: rgb(63, 92, 63); */
    }
    .home-btn{
        margin-left: 45%;
        align-items: center;
        width: 140px;
        height: 40px;
        padding: 5px;
        color: white;
        background-color: rgb(75, 155, 75);
        font-size: 20px;
        font-weight: 500;
    }
   
   
    .news-head{
        text-align: center;
        margin-top: 450px
    }
    .news-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        height: 500px;
        gap: 40px;
    }
    footer{
        background-color: rgb(68, 142, 91);
        height: 250px;
        margin-top: 590px;
    }
    
}
@media (max-width:679px)
{
    .news-head{
        text-align: center;
        margin-top: 490px
    }
}
@media (max-width:660px)
{
    .news-head{
        text-align: center;
        margin-top: 490px
    }
    footer{
        background-color: rgb(68, 142, 91);
        height: 250px;
        margin-top: 1690px;
    }
}

@media (max-width:620px)
{
    .news-head{
        text-align: center;
        margin-top: 240%
    } 
    footer{
        background-color: rgb(68, 142, 91);
        height: 280px;
        margin-top: 110rem;
    }
}
@media (max-width:590px)
{
    .news-head{
        text-align: center;
        margin-top: 340%
    } 
    footer{
        background-color: rgb(68, 142, 91);
        height: 600px;
        margin-top: 110rem;
    }
    .foot-container{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items:start;
        color: white;
        /* text-align: center; */
    }
    
}
@media (max-width:430px)
{
    .news-head{
        text-align: center;
        margin-top: 360%
    } 
    footer{
        background-color: rgb(68, 142, 91);
        height: 600px;
        margin-top: 110rem;
    }
    .foot-container{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items:start;
        color: white;
        /* text-align: center; */
    }
    
}
@media (max-width:407px)
{
    .home-contents{
        font-size: 2px;
    }
    .items{
        width: 280px;
        height: 320px;
        text-align: center;
        padding: 50px 20px;
        /* border: 1px solid; */
        height: 420px;
        gap: 80px;
    }
    .news-head{
        text-align: center;
        margin-top: 470%
    } 
    footer{
        background-color: rgb(68, 142, 91);
        height: 600px;
        margin-top: 110rem;
    }
    .foot-container{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items:start;
        color: white;
        /* text-align: center; */
    }
    
}




